<html>
<head>
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
    <body ng-app="myapp">

<div ng-controller="restcontroller">

    <form class="form-inline">
<label>
Enter Employee number:
</label>
<input type="text" class="form-control" ng-model="employeeId"/>

<button class="btn btn-primary" ng-click="doSearch()">Find</button>
{{employeeId}}
    </div>
    <form>
        <hr>

        <div class="row">
            <div class="col-sm-2">Emolyeename</div>
            <div class="col-sm-2">{{employeename}}</div>
        </div>
         <div class="row">
            <div class="col-sm-2">EmployeeNumber</div>
            <div class="col-sm-2">{{empno}}</div>
            <span ng-if="empno>11" class="glyphicon glyphicon-warning-sign"></span>
        </div>
        <div class="row">
            <div class="col-sm-2">Salary</div>
            <div class="col-sm-2">{{sal}}</div>
        </div>


    </body>

</html>